<!-- START PAGE SOURCE - Will be used for blog -->
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <p class="date"><%= @post.created_at.strftime("%Y")%><span><%= @post.created_at.strftime("%m/%d")%></span></p>
          <h2><span><%= @post.title %></span></h2>
          <div class="clr"></div>
          <p>Posted by <a href="#"><%= @post.author %></a> &nbsp;|&nbsp; Filed under 
            <% @tags.each do |t| %>
            <a href="#"><%= t.key %></a> &nbsp;
            <% end %>
          </p>
          <%= image_tag(@post.image, :style => "width: 605; height: 197") %>
          <p><%= @post.body %></p>
          <p class="spec"><a href="#" class="com">Comments (13) &raquo;</a></p>
        </div>
        
<!--        <p class="pages">Page 1 of 2 &nbsp;&nbsp;&nbsp; <span>1</span> <a href="#">2</a> <a href="#">&raquo;</a></p>-->
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span>Sidebar</span> Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">TemplateInfo</a></li>
            <li><a href="#">Style Demo</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Archives</a></li>
          </ul>
        </div>
        <div class="gadget">
          <h2 class="star"><span>Sponsors</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="#">Lorem ipsum dolor</a><br />
              Donec libero. Suspendisse bibendum</li>
            <li><a href="#">Dui pede condimentum</a><br />
              Phasellus suscipit, leo a pharetra</li>
            <li><a href="#">Condimentum lorem</a><br />
              Tellus eleifend magna eget</li>
            <li><a href="#">Fringilla velit magna</a><br />
              Curabitur vel urna in tristique</li>
            <li><a href="#">Suspendisse bibendum</a><br />
              Cras id urna orbi tincidunt orci ac</li>
            <li><a href="#">Donec mattis</a><br />
              purus nec placerat bibendum</li>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
<!-- END PAGE SOURCE -->